a:hover {
  color: #00268a;
}
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: teal;
  padding-left: 10px;
}
.navbar{
    background-color: white;
}
.nav-item{
    color: white;
}